.qv-object-CrossSelling div.qv-object-content-container {
	overflow: auto;
}

.qv-object-CrossSelling .OnlyA {
    border-radius: 100%;
    float: left;
    background-color: rgba(102,37,5,0.8);
    vertical-align: middle;
}

.qv-object-CrossSelling .OnlyB {
    border-radius: 100%;
    float: right;
    background-color: rgba(179,74,2,0.8); 
    vertical-align: middle;
}

.qv-object-CrossSelling .OnlyC {
    border-radius: 100%;
    float: none;
    background-color: rgba(251,158,44,0.7); 
    vertical-align: bottom;
}


.qv-object-CrossSelling .Error3Values {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: red;
    text-indent: 0%;
    vertical-align: middle;
}

.qv-object-CrossSelling .TextLegendA {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(102,37,5);
    text-indent: 0%;
    vertical-align: middle;
}

.qv-object-CrossSelling .TextLegendB {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(179,74,2);
    text-indent: 0%;
    vertical-align: middle;
}

.qv-object-CrossSelling .TextLegendC {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(251,158,44);
    text-indent: 0%;
    vertical-align: middle;
}
